@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

*{
    margin:0; padding:0; box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

html, body{
    background: linear-gradient(9deg, #494949, #ffffff);
}
html {
    scroll-behavior: smooth;
}


header h1{
    color: #000;
    font-family: Cormorant Unicase;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 47%;
    font-size:70pt;
}

nav{
    padding-top: 50px;
}

nav a {
    margin-left: 20%;
}

nav a{
    /* fonte: big sholders text*/
    text-align: center;
    text-decoration: none;
    color:#000000;
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    position: relative;
}

nav a::after{
    content:" ";
    width: 0%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
    width:100%;
}


main p{
    font-size:32px;
}

main #joao{
    width: 100%;
    max-width:350px;
    margin: 40px;
    border:1px solid #888888;
    box-shadow: -80px -40px 0 0 #939393;
}

.container-joao, .container-projeto{
    display:flex;
    margin:auto;
}

.container-joao{
    max-width:900px;
    margin:auto;
    margin-top:10%;
    margin-bottom:10%;
}

.container-joao img{
    float: left;
    max-width: 100%;
    height: auto;
}

.container-joao p {
    font-size: 20pt;
    margin-left:10px;
    text-indent: 30px;
    text-align: justify;
    padding-top: 10%;
}

.container-projeto{
    max-width:80%;
    margin:auto;
    margin-top:10%;
    margin-bottom:10%;
    display: flex;
}

.container-projetos{
    background-color: #ffffff;
    padding-top:4%;
    padding-bottom:4%;
    margin:auto;
    max-width:95%;
}

.container-projetos p{
    text-indent: 30px;
    text-align: justify;
}

.container-projeto p{
    margin-left:4rem;
    font-size: 20pt;
    text-align: justify;
    padding-top: 2%;
}


.projetos-sombra{
    border:1px solid white;
    box-shadow: -80px -40px 0 0 #156771;
    width: 100%;
    max-width:350px;
    margin: 40px;
}

.projetos-sombras{
    border:1px solid white;
    box-shadow: 80px 40px 0 0 #384c69;
    width: 100%;
    max-width:350px;
    margin: 40px;
}

.container-projeto p{
    margin-left:4rem;
    font-size: 20pt;
    text-align: justify;
    padding-top: 2%;
}

.contato{
    text-align: center;
    display:block;
    margin: auto;
}

.contato img{
    width:150px;
} 

#burguer{
    background-color:none;
    color:rgb(0, 0, 0);
    display: block;
    text-align:center;
    padding:10px;
    cursor: pointer;
}

#burguer:hover{
    background-color: rgb(211, 211, 211);
    color:black;
}

.link_decoration {
    text-decoration: none;
    color:black;
    background-color: rgb(197, 197, 255);
}

#link_yellow{
    background-color: rgb(255, 255, 198);
}
#link_react{
    background-color: rgb(204, 245, 255);
}
#link_blue{
    background-color: rgb(191, 194, 255);
}
footer{
    background-color: #1c1b1b;
    text-align: center;
}

footer p{
    color: #fff;
    font-size:12pt;
    padding-bottom:2%;
}

footer i{
    padding:1%;
    font-size: 30pt;
}

.projeto-img{
    width:8000px;
}