@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Sintony", "Abel", sans-serif;
}

body {
  background: linear-gradient(9deg, #202020, #ffffff);
}

html {
  scroll-behavior: smooth;
}

header, menu{
  background-color: #1C1B1B;
}

header h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Cormorant Unicase;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 70pt;
}

nav {
  padding-top: 50px;
  display: flex;
  text-align: center;
  padding-bottom: 10px;
}

nav a {
  padding-left: 5%;
  padding-right: 5%;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  display: flex;
  position: relative;
}

nav a::after {
  content: " ";
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in-out;
}

nav a:hover::after {
  width: 50%;
}

main #joao {
  width: 100%;
  max-width: 350px;
  margin: 40px;
  border: 1px solid #888888;
  box-shadow: -80px -40px 0 0 #939393;
}

main #soldado {
  width: 100%;
  max-width: 450px;
  margin: 40px;
  border: 1px solid #888888;
  box-shadow: 80px 40px 0 0 #939393;
}

.container-joao,
.container-callgenie,
.container-datasars,
.container-exercito {
  display: flex;
  margin: auto;
}

.container-joao {
  max-width: 70%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-exercito {
  max-width: 76%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.container-joao img {
  float: left;
  max-width: 100%;
  height: auto;
}

img:hover{
  transform: scale(1.05);
  transition: .6s;
}

.container-exercito img {
  float: right;
  max-width: 100%;
  height: auto;
}

.container-joao p {
  letter-spacing: .2rem;
  font-size: 15pt;
  margin-left: 10%;
  text-align: right;
  padding-top: 8%;
}

.container-exercito p {
  letter-spacing: .2rem;
  font-size: 15pt;
  margin-right: 5%;
  text-align: left;
  padding-top: 7%;
}

.container-datasars {
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  flex-direction: column;
}

.container-callgenie {
  justify-content: center;
  max-width: 70%;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
}

.container-projetos {
  background-color: #ffffff;
  padding-top: 4%;
  padding-bottom: 4%;
  margin: auto;
}

.container-projetos p {
  text-align: justify;
}

.sombra-datasars {
  border: 1px solid white;
  box-shadow: -20px -20px 0 0 #376469;
  width: 100%;
  max-width: 485px;
  margin: 40px;
}

.sombra-callgenie {
  border: 1px solid white;
  box-shadow: 20px 20px 0 0 #4b6283;
  width: 100%;
  max-width: 485px;
  margin: 40px;
}

.sombra-assetbox {
  border: 1px solid white;
  box-shadow: -20px -20px 0 0 #7b9ea7;
  width: 100%;
  max-width: 485px;
  margin: 40px;
}

.container-datasars p {
  max-width: 55%;
  font-size: 15pt;
  padding-top: 1%;
}

.container-datasars h3 {
  max-width: 50%;
  font-size: 15pt;
  padding-top: 2%;
}

.contato {
  text-align: center;
  display: block;
  margin: auto;
}

.contato img {
  width: 150px;
}

#burguer {
  background-color: #1C1B1B;
  color: rgb(255, 255, 255);
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

#burguer:hover {
  background-color: #1C1B1B;
  color: rgb(112, 112, 112);
}

.link_decoration {
  text-decoration: none;
  color: black;
  background-color: rgb(197, 197, 255);
}

footer {
  background-color: #1c1b1b;
  text-align: center;
}

footer p {
  color: #fff;
  font-size: 12pt;
  padding-bottom: 2%;
}

footer i {
  padding: 1%;
  font-size: 30pt;
}

.design-img {
  width: 498px;
  height: 288px;
}

.prototipos{
  background-color: #1c1b1b;
  padding: 2%;
}

.design-img-container {
  padding: 5%;
  display: flex;
  gap: 2%;
  justify-content: space-around;
}

.design {
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 20pt;
}

.text-center{
  text-align: center;
}

#figma-icon{
  width: 2%;
}

p.texto-centralizado {
  font-size: 20pt;
  color:#ffffff;
  text-align: center;
}

.img-wireframe{
  max-width:40%;
  gap: 10%;
}

.logo-parceiro{
  width: 100px;
}

.topicos{
  /* background-color: red; */
}